.calculator {
  grid-column: 2/3;
  grid-row: 2/3;

  display: flex;
  flex-direction: column;

  background-color: rgba(0, 0, 0, 0.45);
  padding: 0.5rem;
  color: #fff;

  &__display {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 2rem 0.5rem;
    overflow: hidden;

    &-current {
      font-size: 6rem;
      height: 9rem;
    }

    &-previous {
      font-size: 4rem;
      height: 6rem;
    }

    &-operator {
      font-size: 2.5rem;
      height: 4rem;
    }
  }

  &__buttons {
    display: grid;
    grid-template-columns: repeat(4, minmax(9rem, 12rem));
    gap: 0.5rem;
  }

  &__btn {
    background-color: rgba(0, 0, 0, 0.75);

    border: none;
    font-size: 2.5rem;
    line-height: 3;
    color: currentColor;
    transition: all 0.2s;
    cursor: pointer;

    &:hover {
      background-color: rgba(0, 0, 0, 0.45);
    }

    &:active {
      transform: scale(0.95);
    }
  }
}
